@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Kafelino.Models.Products.ProductListingViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@foreach (var weight in Model.Weights)
{
    <a asp-action="FilterByWeight" asp-route-weightId="@weight.WeightId">@weight.Value@weight.Unit.</a>
}
@foreach (var taste in Model.TasteNotes)
{
    <a asp-action="FilterByTasteNote" asp-route-tasteNoteId="@taste.TasteNoteId">@taste.Name</a>
}
<form asp-action="FilterByPrice">
    <div class="form-group">
        <input type="number" asp-for="MinPrice">
    </div>
    <div class="form-group">
        <input type="number" asp-for="MaxPrice">
    </div>
    <button type="submit" class="btn">=></button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    Quantity
                </th>
            }
            <th>
                Brand
            </th>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    IsDeleted
                </th>
            }
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    CreatedOn
                </th>
            }
            <th>
                Weight
            </th>
            <th>
                TasteNotes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img style="width: 80px; height: 80px" src="@item.ImageUrl" alt="">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
            }
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Weight.Value)
                @Html.DisplayFor(modelItem => item.Weight.Unit)
            </td>
            <td>
                @String.Join(", ", @item.TasteNotes.Select(ts => ts.Name))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
