@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Data.SqlClient.DataClassification
@model Kafelino.Models.Products.ProductListingViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@* @foreach (var weight in Model.Weights) *@
@* { *@
@*     <a asp-action="FilterByWeight" asp-route-weightId="@weight.WeightId">@weight.Value@weight.Unit.</a> *@
@* } *@
@* @foreach (var taste in Model.TasteNotes) *@
@* { *@
@*     <a asp-action="FilterByTasteNote" asp-route-tasteNoteId="@taste.TasteNoteId">@taste.Name</a> *@
@* } *@
@* @foreach (var brand in Model.Brands) *@
@* { *@
@*     <a asp-action="FilterByBrand" asp-route-brand="@brand">@brand</a> *@
@* } *@
@* <form asp-action="FilterByPrice"> *@
@*     <div class="form-group"> *@
@*         <input type="number" asp-for="MinPrice"> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <input type="number" asp-for="MaxPrice"> *@
@*     </div> *@
@*     <button type="submit" class="btn">=></button> *@
@* </form> *@

<form method="get" asp-action="Filter" asp-controller="Products">
    <div class="form-group">
        @foreach (var weight in Model.Filters.Weights)
        {
            var isChecked = weight.Value == Model.Filters.Weight ? "checked" : "";
            
            <input type="radio" id="@weight" name="weight" value="@weight.Value" @isChecked/>
            <label for="@weight">@weight.Value@weight.Unit</label>
        }
    </div>
    <div class="form-group">
        @foreach (var taste in Model.Filters.TasteNotes)
        {
            var isChecked = taste.Name == Model.Filters.TasteNote ? "checked" : "";
            
            <input type="radio" id="taste" name="TasteNote" value="@taste.Name" @isChecked/>
            <label for="taste">@taste.Name</label>
        }
    </div>
    <div class="form-group">
        @foreach (var brand in Model.Filters.Brands)
        {
            var isChecked = brand == Model.Filters.Brand ? "checked" : "";
            
            <input type="radio" id="brand" name="brand" value="@brand" @isChecked/>
            <label for="brand">@brand</label>
        }
    </div>
    <div class="form-group">
        <input type="number" value="@Model.Filters.MinPrice" name="minPrice" asp-for="@Model.Filters.MinPrice">
    </div>
    <div class="form-group">
        <input type="number" value="@Model.Filters.MaxPrice" name="maxPrice" asp-for="@Model.Filters.MaxPrice">
    </div>
    <button type="submit" class="btn">=></button>
</form>
@if (@Model.Products.Count > 0)
{
    <table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    Quantity
                </th>
            }
            <th>
                Brand
            </th>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    IsDeleted
                </th>
            }
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    CreatedOn
                </th>
            }
            <th>
                Weight
            </th>
            <th>
                TasteNotes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img style="width: 80px; height: 80px" src="@item.ImageUrl" alt="">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
            }
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Weight.Value)
                @Html.DisplayFor(modelItem => item.Weight.Unit)
            </td>
            <td>
                @String.Join(", ", @item.TasteNotes.Select(ts => ts.Name))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
}
@if (Model.Products.Count == 0)
{
    <h2>Няма продукти</h2>
}


