@using Kafelino.Domain
@model Kafelino.Models.Products.EditProductInputModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ImageUrl" />
                <img src="~/Images/@Model.ImageUrl" alt="">
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightId">Разфасофки</label>
                <select asp-for="WeightId" class="form-control" name="WeightId">
                    @foreach (Weight weight in ViewBag.Weights)
                    {
                        <option value="@weight.WeightId">@weight.Value@weight.Unit.</option>
                    }
                </select>
                <span asp-validation-for="WeightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="TasteNotes">Вкусови нотки</label>
                <select asp-for="TasteNoteIds" class="form-control js-example-basic-multiple" multiple="multiple" name="TasteNoteIds">
                    @foreach (TasteNote tasteNote in ViewBag.TasteNotes)
                    {
                        <option value="@tasteNote.TasteNoteId" selected="@(Model.TasteNoteIds.Contains(tasteNote.TasteNoteId) ? "selected" : null)">
                            @tasteNote.Name
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

